
.neck {
    position: absolute;
    width: 16%;
    height: 10%;
    bottom: 37%;
    left: 43.2%;
    background-color: #fca;
    z-index: -1;
  }

  .clothes {
    position: absolute;
    width: 60%;
    height: 10%;
    bottom: 30%;
    left: 21.2%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collars {
    width: 44%;
    height: 56%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .collar-left {
    background-color: rgb(2, 2, 179);
    flex: 0 1 33%;
    height: 100%;
    transform: rotate(25deg);
    border-radius: 10% 10% 0 0;
  }

  .collars-divider {
    height: 60%;
    width: 48%;
    margin-top: auto;
    background-color: navy;
    position: absolute;
    bottom: -6px;
    left: 26%;
    z-index: -1;
  }

  .collar-right {
    background-color: rgb(2, 2, 179);
    flex: 0 1 33%;
    height: 100%;
    transform: rotate(-25deg);
    border-radius: 10% 10% 0 0;
  }

  .shirt-and-shoulders {
    width: 100%;
    height: 300px;
    background-color: navy;
    position: absolute;
    z-index: -1;
    bottom: -16em;
    border-radius: 100% / 40% 40% 120% 120%;
  }

  .shirt-and-shoulders::after{
    display: block;
    width: 140%;
    content: '';
    height: 50%;
    position: absolute;
    background-color: navy;
    border-radius: 100% / 120% 120% 0 0;
    left: -19%;
  }

  .arms{
    width: 84%;
    height: 23%;
    background-color: #fca;
    border-radius: 100%/200vmin;
    left: 52%;
    transform: translate(-50%, 0);
    top: 80%;
    position: absolute;
    z-index: -2;
  }