* {
    box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.drawing {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vmin;
  height: 90vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.color-splash {
  position: absolute;
  min-width: 100%;
  min-height: 80%;
  background:    
  repeating-conic-gradient(rgb(255, 109, 56) 0 3%, #22abc700 0 11%),
  repeating-conic-gradient(#0000 0 5%, #00f 0 7%) 50% / 60% 60%,
  repeating-conic-gradient(#0000 0 7%, #00f 0 9%) 50% / 70% 70%,
  repeating-conic-gradient(#0000 0 11%, #00f 0 13%) 50% / 80% 80%,
  radial-gradient(#00f 22%, #0000 0),
  linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-repeat: no-repeat;
  filter: blur(20px) contrast(20);
  z-index: -2;
  top: 0;
  left: 0;
  transform: translate(-5%, 20%);
  flex: 1 1 33%;
  /* box-shadow: 0 0 0 50px #fff; */
  animation: gradient 15s ease infinite;
  border-radius: 100%;
}


  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
